@page "/restaurants"
@using System.Text.Json
@using System.Text.Json.Nodes
@rendermode InteractiveServer

<PageTitle>Restaurants</PageTitle>

<h3>Restaurants</h3>
<p>Restaurant Count: @arraycount</p>
@if(arraycount > 0)
{
    for(int r = 0; r < arraycount; r++)
    {
        <p>restaurant number: @r</p>
        <p>Restuarant name: @jsonstring[r].GetProperty("name").ToString()</p>
    }
}

@if (!string.IsNullOrEmpty(errormsg))
{
    <p>@errormsg</p>
}

@code {
    List<Restaurant> restaurants;
    HttpClient httpClient = new() { BaseAddress = new Uri("https://localhost:7030") };
    JsonElement jsonstring;
    private string errormsg;
    string temp;
    int arraycount;
    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await httpClient.GetAsync($"api/Restaurant/allrestaurants");
        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            jsonstring = JsonSerializer.Deserialize<JsonElement>(json);
            temp = jsonstring[0].ToString();
            arraycount = jsonstring.GetArrayLength();
            errormsg = null;
        }
        else
        {
            errormsg = "$could not find restaurants" + response.ToString();
        }
        StateHasChanged();
    }
}